.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
/_site/
.venv/
.venv_py39/
.env
node_modules/
netlify/functions/node_modules/

.DS_Store
tools/.DS_Store

# Local Netlify folder
.netlify
IBNR Weekly_36_2025_Buybacks.pdf

**/*.quarto_ipynb
